<h2 class="text-center mt-4">Classes Record</h2>
<div class="container mt-4">
    <table class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
                <th>class Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for class in classes %}
            <tr>
                <td><a href="/school/class/{{ class.id }}/class-wise-students/" class="btn btn-light">{{ class.name }}</a></td>
                <td>
                    <a href="/school/edit-class/{{ class.id }}" class="btn btn-secondary">Edit</span></a>
                    <a href="/school/delete-class/{{ class.id }}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    {% if user.is_authenticated %}
        <center><a href="create-room" class="btn btn-primary">Add New Record</a></center>
    {% endif %}
</div>